# Walmart Sales Prediction

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn.tree import DecisionTreeRegressor
import sklearn.metrics as metrics

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Import CSV files

In [2]:
stores = pd.read_csv("data/stores.csv")
features = pd.read_csv("data/features.csv")
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")

### Check tables

In [3]:
stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [4]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [5]:
stores.isnull().sum()

Store    0
Type     0
Size     0
dtype: int64

In [6]:
features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [7]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [8]:
features.isnull().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [9]:
train.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [11]:
train.isnull().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [12]:
test.head()

   Store  Dept        Date  IsHoliday
0      1     1  2012-11-02      False
1      1     1  2012-11-09      False
2      1     1  2012-11-16      False
3      1     1  2012-11-23       True
4      1     1  2012-11-30      False

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115064 entries, 0 to 115063
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Store      115064 non-null  int64
 1   Dept       115064 non-null  int64
 2   Date       115064 non-null  object
 3   IsHoliday  115064 non-null  bool
dtypes: bool(1), int64(2), object(1)
memory usage: 2.7+ MB

In [14]:
test.isnull().sum()

Store        0
Dept         0
Date         0
IsHoliday    0
dtype: int64

In [15]:
train.describe()

               Store           Dept   Weekly_Sales
count  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123
std        12.785297      30.492054   22711.183519
min         1.000000       1.000000   -4988.940000
25%        11.000000      18.000000    2079.650000
50%        22.000000      37.000000    7612.030000
75%        33.000000      74.000000   20205.852500
max        45.000000      99.000000  693099.360000

## Data Manipulation

### Merging Stores and Features tables with training & test data

In [16]:
train_df = pd.merge(train, stores, on=["Store"])
train = pd.merge(train_df, features, on=["Store", "Date", "IsHoliday"])
train.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,2,2010-02-05,50605.27,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
2,1,3,2010-02-05,13740.12,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
3,1,4,2010-02-05,39954.04,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
4,1,5,2010-02-05,32229.38,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106

In [17]:
test_df = pd.merge(test, stores, on=["Store"])
test = pd.merge(test_df, features, on=["Store", "Date", "IsHoliday"])
test.head()

,Store,Dept,Date,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2012-11-02,False,A,151315,55.32,3.386,6766.44,5147.7,50.82,3639.9,2737.42,223.462779,6.573
1,1,2,2012-11-02,False,A,151315,55.32,3.386,6766.44,5147.7,50.82,3639.9,2737.42,223.462779,6.573
2,1,3,2012-11-02,False,A,151315,55.32,3.386,6766.44,5147.7,50.82,3639.9,2737.42,223.462779,6.573
3,1,4,2012-11-02,False,A,151315,55.32,3.386,6766.44,5147.7,50.82,3639.9,2737.42,223.462779,6.573
4,1,5,2012-11-02,False,A,151315,55.32,3.386,6766.44,5147.7,50.82,3639.9,2737.42,223.462779,6.573

### Replacing null values
- Fill missing CPI and Unemployment values with mean (grouped by Store and Dept).
- Fill missing MarkDown values with zeroes.

In [18]:
train.isnull().sum()

Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday            0
Type                 0
Size                 0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
dtype: int64

In [19]:
test.isnull().sum()

Store               0
Dept                0
Date                0
IsHoliday           0
Type                0
Size                0
Temperature         0
Fuel_Price          0
MarkDown1         149
MarkDown2       28627
MarkDown3        9829
MarkDown4       12888
MarkDown5           0
CPI             38162
Unemployment    38162
dtype: int64

In [20]:
test.groupby(['Store','Dept'])['Unemployment'].mean()

Store  Dept
1      1       6.509154
       2       6.509154
       3       6.509154
       4       6.509154
       5       6.509154
                 ...
45     93      8.594923
       94      8.594923
       95      8.594923
       97      8.594923
       98      8.594923
Name: Unemployment, Length: 3169, dtype: float64

In [21]:
test['CPI'] = test.groupby(['Store','Dept'])['CPI'].transform(lambda x: x.fillna(x.mean()))
test['Unemployment'] = test.groupby(['Store','Dept'])['Unemployment'].transform(lambda x: x.fillna(x.mean()))
test.isnull().sum()

Store               0
Dept                0
Date                0
IsHoliday           0
Type                0
Size                0
Temperature         0
Fuel_Price          0
MarkDown1         149
MarkDown2       28627
MarkDown3        9829
MarkDown4       12888
MarkDown5           0
CPI                53
Unemployment       53
dtype: int64

In [22]:
test.loc[test['Unemployment'].isnull()]

,Store,Dept,Date,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
10677,4,39,2013-07-12,False,A,205863,82.30,3.368,6501.43,1464.81,124.97,3809.96,3868.60,NaN,NaN
21247,8,96,2013-07-05,False,A,155078,76.18,3.422,6801.88,1592.93,880.32,5097.59,1717.64,NaN,NaN
23273,9,80,2013-05-17,False,B,125833,72.03,3.454,1198.65,25.94,0.06,292.07,6914.37,NaN,NaN
23514,9,80,2013-06-14,False,B,125833,79.43,3.431,958.94,119.77,425.36,510.55,1943.57,NaN,NaN
23819,9,80,2013-07-19,False,B,125833,75.26,3.556,1040.56,188.09,NaN,178.85,1507.30,NaN,NaN
23883,9,80,2013-07-26,False,B,125833,82.37,3.620,52.43,258.14,NaN,2.50,1265.60,NaN,NaN
39849,15,37,2013-06-14,False,B,123737,61.31,3.795,3433.45,553.69,360.00,1766.04,1101.76,NaN,NaN
53261,20,47,2013-05-31,False,A,203742,62.24,3.646,3472.58,382.42,858.87,122.74,1946.26,NaN,NaN
53618,20,47,2013-07-05,False,A,203742,72.97,3.614,12300.40,3844.80,1067.78,14389.54,2755.18,NaN,NaN
64203,24,43,2013-06-21,False,A,203819,66.47,3.793,3400.51,781.14,269.86,5943.60,3837.67,NaN,NaN
79829,30,27,2013-07-05,False,C,42988,81.20,3.422,378.21,NaN,21.35,NaN,856.00,NaN,NaN
79880,30,27,2013-07-12,False,C,42988,87.30,3.400,466.05,NaN,1.71,NaN,188.57,NaN,NaN
79932,30,27,2013-07-19,False,C,42988,79.15,3.556,189.49,NaN,5.10,NaN,664.65,NaN,NaN
79985,30,26,2013-07-26,False,C,42988,85.00,3.620,35.08,NaN,0.50,NaN,525.63,NaN,NaN
79986,30,27,2013-07-26,False,C,42988,85.00,3.620,35.08,NaN,0.50,NaN,525.63,NaN,NaN
80020,30,99,2013-07-26,False,C,42988,85.00,3.620,35.08,NaN,0.50,NaN,525.63,NaN,NaN
86951,33,71,2013-06-07,False,A,39690,93.17,3.789,105.68,NaN,NaN,NaN,348.73,NaN,NaN
87149,33,99,2013-07-05,False,A,39690,99.66,3.753,146.05,NaN,NaN,3.90,1423.19,NaN,NaN
89243,34,47,2013-05-10,False,A,158114,63.90,3.371,5813.45,354.12,127.88,278.51,2804.10,NaN,NaN
89881,34,47,2013-07-12,False,A,158114,82.77,3.368,2603.01,931.01,37.44,639.15,2020.17,NaN,NaN
94021,36,52,2013-06-07,False,A,39910,80.20,3.415,691.45,NaN,NaN,145.61,2064.72,NaN,NaN
94065,36,52,2013-06-14,False,A,39910,81.03,3.412,52.33,NaN,NaN,70.56,861.94,NaN,NaN
94152,36,52,2013-06-28,False,A,39910,84.66,3.428,444.90,NaN,NaN,NaN,1443.12,NaN,NaN
94170,36,99,2013-06-28,False,A,39910,84.66,3.428,444.90,NaN,NaN,NaN,1443.12,NaN,NaN
94194,36,52,2013-07-05,False,A,39910,84.18,3.387,21.24,NaN,NaN,NaN,1261.13,NaN,NaN
94237,36,52,2013-07-12,False,A,39910,84.02,3.373,67.86,NaN,NaN,NaN,1016.91,NaN,NaN
94282,36,52,2013-07-19,False,A,39910,81.28,3.507,165.79,NaN,NaN,NaN,408.04,NaN,NaN
94325,36,52,2013-07-26,False,A,39910,83.28,3.587,128.41,NaN,NaN,39.52,405.62,NaN,NaN
94344,36,99,2013-07-26,False,A,39910,83.28,3.587,128.41,NaN,NaN,39.52,405.62,NaN,NaN
98196,38,99,2013-07-05,False,C,39690,101.95,3.753,29.54,NaN,265.53,NaN,1025.77,NaN,NaN
107868,42,22,2013-05-03,False,C,39690,78.41,3.671,97.72,NaN,21.53,NaN,2697.25,NaN,NaN
107959,42,6,2013-05-17,False,C,39690,82.47,3.809,793.49,NaN,1.20,NaN,1384.90,NaN,NaN
108110,42,6,2013-06-07,False,C,39690,89.22,3.789,198.91,NaN,4.96,NaN,1836.34,NaN,NaN
108160,42,6,2013-06-14,False,C,39690,91.98,3.771,10.63,NaN,8.24,NaN,1735.58,NaN,NaN
108222,42,22,2013-06-21,False,C,39690,90.67,3.766,230.59,NaN,3.08,NaN,806.64,NaN,NaN
108273,42,22,2013-06-28,False,C,39690,90.28,3.781,1053.69,NaN,NaN,NaN,4143.90,NaN,NaN
108322,42,22,2013-07-05,False,C,39690,93.54,3.753,360.49,NaN,48.46,313.04,1007.61,NaN,NaN
108370,42,22,2013-07-12,False,C,39690,87.18,3.737,51.96,NaN,9.98,NaN,1346.73,NaN,NaN
108379,42,44,2013-07-12,False,C,39690,87.18,3.737,51.96,NaN,9.98,NaN,1346.73,NaN,NaN
108420,42,22,2013-07-19,False,C,39690,87.09,3.823,211.63,NaN,3.71,NaN,478.31,NaN,NaN
108470,42,22,2013-07-26,False,C,39690,83.32,3.865,NaN,NaN,0.17,NaN,756.79,NaN,NaN
109792,43,26,2013-05-10,False,C,41062,70.80,3.392,506.68,NaN,20.33,NaN,1984.05,NaN,NaN
109887,43,26,2013-05-24,False,C,41062,79.09,3.494,297.64,NaN,23.27,NaN,1424.93,NaN,NaN
109936,43,26,2013-05-31,False,C,41062,82.53,3.466,403.31,NaN,12.01,NaN,2463.06,NaN,NaN
109940,43,33,2013-05-31,False,C,41062,82.53,3.466,403.31,NaN,12.01,NaN,2463.06,NaN,NaN
109991,43,33,2013-06-07,False,C,41062,83.61,3.439,73.91,NaN,10.71,NaN,1800.87,NaN,NaN
110136,43,26,2013-06-28,False,C,41062,90.70,3.495,1014.78,NaN,NaN,NaN,1267.34,NaN,NaN
110188,43,26,2013-07-05,False,C,41062,81.70,3.422,13.44,NaN,163.92,NaN,2091.79,NaN,NaN
112098,44,44,2013-06-14,False,C,39910,76.41,3.771,351.38,NaN,4.89,6.35,867.28,NaN,NaN
112297,44,22,2013-07-12,False,C,39910,78.93,3.666,182.25,NaN,6.63,NaN,1842.48,NaN,NaN
112349,44,22,2013-07-19,False,C,39910,80.81,3.665,118.82,NaN,3.15,NaN,514.08,NaN,NaN
112404,44,22,2013-07-26,False,C,39910,83.62,3.669,134.31,NaN,1.00,NaN,199.75,NaN,NaN
114370,45,47,2013-05-17,False,B,118221,60.59,3.614,4515.35,667.88,6.12,522.70,2541.62,NaN,NaN

In [23]:
# Replace with store's average CPI and Unemployment for remaining departments
test['CPI']=test.groupby(['Store'])['CPI'].transform(lambda x: x.fillna(x.mean()))
test['Unemployment'] = test.groupby(['Store'])['Unemployment'].transform(lambda x: x.fillna(x.mean()))
test.isnull().sum()

Store               0
Dept                0
Date                0
IsHoliday           0
Type                0
Size                0
Temperature         0
Fuel_Price          0
MarkDown1         149
MarkDown2       28627
MarkDown3        9829
MarkDown4       12888
MarkDown5           0
CPI                 0
Unemployment        0
dtype: int64

In [24]:
# Replace MarkDown with 0 (assume none)
train['MarkDown1'] = train['MarkDown1'].fillna(0)
train['MarkDown2'] = train['MarkDown2'].fillna(0)
train['MarkDown3'] = train['MarkDown3'].fillna(0)
train['MarkDown4'] = train['MarkDown4'].fillna(0)
train['MarkDown5'] = train['MarkDown5'].fillna(0)

test['MarkDown1'] = test['MarkDown1'].fillna(0)
test['MarkDown2'] = test['MarkDown2'].fillna(0)
test['MarkDown3'] = test['MarkDown3'].fillna(0)
test['MarkDown4'] = test['MarkDown4'].fillna(0)

In [25]:
train.isnull().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
Type            0
Size            0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
dtype: int64

In [26]:
test.isnull().sum()

Store           0
Dept            0
Date            0
IsHoliday       0
Type            0
Size            0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
dtype: int64